# Import das Bibliotecas

In [1]:
import pandas as pd
import numpy as np

#utils
import emoji, re, string, time, os

#nlp
import nltk
from nltk.corpus import stopwords
import spacy

#features
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD

#models
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import ComplementNB
from sklearn.ensemble  import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier

#CV
from sklearn.model_selection import cross_validate

# Carregamento do dataset

In [2]:
original_df = pd.read_csv("C:/Users/lmb3/source/repos/FakeWhatsApp.Br-master/data/2018/fakeWhatsApp.BR_2018.csv")

C:\Users\lmb3\anaconda3\envs\pycaret\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
original_df = original_df[original_df['midia']==0]
original_df = original_df[original_df['viral']==1]
original_df.shape

(20872, 19)

In [4]:
original_df = original_df.drop_duplicates(subset=['text'])
original_df.shape

(5284, 19)

In [5]:
text_df = original_df[["text","misinformation"]]

In [6]:
text_df["misinformation"].value_counts()

 0    2547
 1    2041
-1     696
Name: misinformation, dtype: int64

In [7]:
text_df = text_df[text_df["misinformation"]>-1]
text_df.reset_index(inplace=True)
text_df = text_df.drop('index',axis=1)
text_df

                                                   text  misinformation
0     No dia 07 de Outubro, quando for votar, n√£o es...               1
1     Devido a aborrecimentos nas varias redes socia...               0
2     EU GOSTARIA DE PEDIR A TODOS DO GRUPOS ENTREM ...               0
3     Como s√£o as coisas.\nChefe do jacar√© aparece n...               1
4     A ratoeira funcionou mais a ratazana aguentou ...               0
...                                                 ...             ...
4583  Amoedo - Ita√∫ - Metacapitalistas (George Soros...               1
4584  *BEM GALERA... O VIDEO DA PSICOLOGIA REVERSA P...               0
4585  DIVULGUEM ESSE VIDEO PARA QUE TODOS SAIBAM QUE...               1
4586  https://www.oantagonista.com/brasil/exclusivo-...               0
4587  *#BOLSONARO2018* üáßüá∑\n*1*- O foco √© trocar info...               0

[4588 rows x 2 columns]

# Pre-Processamento

## Remocao de StopWords, sao mantidas pontuacoes e emojis

In [8]:
import nltk
#nltk.download('punkt')
#nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
import emoji

In [9]:
def domainUrl(text):
    '''
    Substitutes an URL in a text for the domain of this URL
    Input: an string
    Output: the string with the modified URL
    '''    
    if 'http' in text:
        re_url = '[^\s]*https*://[^\s]*'
        matches = re.findall(re_url, text, flags=re.IGNORECASE)
        for m in matches:
            domain = m.split('//')
            domain = domain[1].split('/')[0]
            text = re.sub(re_url, domain, text, 1)
        return text
    else:
        return text

def processLoL(text):
    re_kkk = 'kkk*'
    t = re.sub(re_kkk, "kkkk", text, flags=re.IGNORECASE)
    return t

def processEmojisPunctuation(text):
    '''
    Put spaces between emojis. Removes punctuation.
    '''
    
    emojis_list = list(emoji.UNICODE_EMOJI.keys())
    emojis_list += ['\n']
    punct = list(string.punctuation) + ['\n']
    emojis_punct = emojis_list + punct
    
    #get all unique chars
    chars = set(text)
    #for each unique char in text, do:
    for c in chars:
        if c in punct:
            text = text.replace(c, ' ' + c + ' ')
        
        if c in emojis_list:
            text = text.replace(c, ' ' + c + ' ')                        
            
    text = re.sub(' +', ' ', text)
    return text
    
    
stop_words = list(stopwords.words('portuguese'))
new_stopwords = ['a√≠','pra','v√£o','vou','onde','l√°','aqui',
                 't√°','pode','pois','so','deu','agora','todo',
                 'nao','ja','vc', 'bom', 'ai','ta', 'voce', 'alguem', 'ne', 'pq',
                 'cara','to','mim','la','vcs','tbm', 'tudo']
stop_words = stop_words + new_stopwords
final_stop_words = []
for sw in stop_words:
    sw = ' '+ sw + ' '
    final_stop_words.append(sw)

def removeStopwords(text):
    for sw in final_stop_words:
        text = text.replace(sw,' ')
    text = re.sub(' +',' ',text)
    return text
    
def preprocess(text):

    text = text.lower().strip()
    text = domainUrl(text)
    text = processLoL(text)
    text = processEmojisPunctuation(text)
    text = removeStopwords(text)

    return text

'''
def puct_stopword_removal(msg):
    
    stop_words = stopwords.words('portuguese')
    new_stopwords = ['a√≠','pra','v√£o','vou','onde','l√°','aqui',
                     't√°','pode','pois','so','deu','agora','todo',
                     'nao','ja','vc', 'bom', 'ai','ta', 'voce', 'alguem', 'ne', 'pq',
                     'cara','to','mim','la','vcs','tbm', 'tudo']
    stop_words = stop_words + new_stopwords
    punctuation = list(string.punctuation)+['...']
    
    minusculas_msg = msg.lower().strip()
    msgs_tokens = word_tokenize(minusculas_msg)

    cleaned_msg_tokens = [token for token in msgs_tokens if token not in stop_words and token not in punctuation]
    clean_msgs = ' '.join(cleaned_msg_tokens) 
    
    return clean_msgs
'''

In [10]:
text_df['pre_processed_text'] = [preprocess(t) for t in text_df['text']]

In [11]:
text_df['pre_processed_text']

0       no dia 07 outubro , votar , esque√ßa esquerdopa...
1       devido aborrecimentos varias redes sociais pos...
2       eu gostaria pedir todos grupos entrem neste li...
3       como coisas . \n chefe jacar√© aparece video ba...
4       a ratoeira funcionou ratazana aguentou dor cal...
                              ...
4583    amoedo - ita√∫ - metacapitalistas ( george soro...
4584     * bem galera . . . video psicologia reversa a...
4585    divulguem video todos saibam bolsonaro . . . üòë...
4586    www . oantagonista . * exclusivo : bolsonaro f...
4587     * # bolsonaro2018 * üáßüá∑ \n * 1 * - foco trocar...
Name: pre_processed_text, Length: 4588, dtype: object

In [12]:
X = text_df['pre_processed_text']
y = text_df['misinformation']

# Vetoriza√ß√£o

In [13]:
#TFIDF
vectorizer_tfidf = TfidfVectorizer(ngram_range = (1,3),token_pattern = r'[^\s]+')#,max_features=20000
tfidf_transformer = vectorizer_tfidf.fit(X)
tfidf_vect = tfidf_transformer.transform(X)
tfidf_lsit = tfidf_vect.toarray()
tfidf_df = pd.DataFrame(data=tfidf_lsit,columns = tfidf_transformer.get_feature_names()) #,columns = tfidf_transformer.get_feature_names()
y = y.reset_index(drop=True)
tfidf_df.insert(len(tfidf_df.columns), 'target', y)
tfidf_df

,!,! !,! ! !,"! ! """,! ! #,! ! (,! ! ),! ! *,"! ! ,",! ! -,...,üßìüèº sogra 12,üßîüèª,üßîüèª m√∫sica,üßîüèª m√∫sica existe,üßîüèª sim,"üßîüèª sim ,",üßîüèΩ,üßîüèΩ vizinho,üßîüèΩ vizinho 15,target
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4584,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4585,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4586,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4587,0.030795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

# Feature Selection

## Chi2

In [14]:
from sklearn.feature_selection import chi2

bestfeatures_chi2 = chi2(tfidf_df.iloc[:,:-1], tfidf_df.iloc[:,-1])

# Cria√ß√£o do Dataframe
dfscores_chi2 = pd.DataFrame(bestfeatures_chi2[0])
dfpvalues_chi2 = pd.DataFrame(bestfeatures_chi2[1])
dfcolumns_chi2 = pd.DataFrame(tfidf_df.iloc[:,:-1].columns)
featureScores_chi2 = pd.concat([dfcolumns_chi2,dfscores_chi2,dfpvalues_chi2],axis=1)
featureScores_chi2.columns = ['Atributo','Score','P-valor']

tfidf_chi_df = tfidf_df.loc[:,featureScores_chi2.sort_values('P-valor',ascending = True)[:10000]['Atributo']]
y = y.reset_index(drop=True)
tfidf_chi_df.insert(len(tfidf_chi_df.columns), 'target', y)
tfidf_chi_df

,whatsapp,. whatsapp .,chat,chat . whatsapp,chat .,. whatsapp,whatsapp .,entrar grupo,link entrar grupo,link entrar,...,sabia aproximadamente,recebem aposentadoria ex,recebem aposentadoria,desse benef√≠cio,outros recebem benef√≠cio,‚Äúbolsa ditadura‚Äù,receio perderem,al√©m desse benef√≠cio,receio perderem mamata,target
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Mutual Information

In [15]:
from sklearn.feature_selection import mutual_info_classif

bestfeatures_mi = mutual_info_classif(tfidf_df.iloc[:,:-1], tfidf_df.iloc[:,-1],discrete_features=True)

# Cria√ß√£o do Dataframe
dfscores_mi = pd.DataFrame(bestfeatures_mi)
dfcolumns_mi = pd.DataFrame(tfidf_df.iloc[:,:-1].columns)
featureScores_mi = pd.concat([dfcolumns_mi,dfscores_mi],axis=1)
featureScores_mi.columns = ['Atributo','Score']

tfidf_mi_df = tfidf_df.loc[:,featureScores_mi.sort_values('Score',ascending = False)[:5000]['Atributo']]
y = y.reset_index(drop=True)
tfidf_mi_df.insert(len(tfidf_mi_df.columns), 'target', y)
tfidf_mi_df

,.,",",!,bolsonaro,:,. .,-,*,. . .,brasil,...,jean wyllys,", valores",auditoria,. lembre,seres,resumo,mudan√ßas,renan,entra,target
0,0.027419,0.068797,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.080295,0.033578,0.000000,0.000000,0.000000,0.106164,0.000000,0.000000,0.060376,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.048188,0.020152,0.000000,0.000000,0.029519,0.000000,0.000000,0.067064,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.051560,0.021562,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,0.089408,0.148222,0.000000,0.000000,0.000000,0.000000,0.031976,0.006666,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4584,0.133230,0.000000,0.000000,0.000000,0.048969,0.105693,0.000000,0.111251,0.060108,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4585,0.101339,0.000000,0.000000,0.055408,0.000000,0.133988,0.000000,0.000000,0.076200,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4586,0.077470,0.016199,0.000000,0.042357,0.047457,0.000000,0.000000,0.161724,0.000000,0.029637,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4587,0.027770,0.034839,0.030795,0.000000,0.017011,0.036717,0.074158,0.270537,0.020881,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

# Modelos

## Compara√ß√£o de modelos

### Mutual Information

In [16]:
from pycaret.classification import *

baseline_tfidf_01 = setup(data = tfidf_mi_df, target = 'target',use_gpu=True, numeric_features=tfidf_mi_df.columns.tolist()[:-1],
                         data_split_stratify=True)#,remove_perfect_collinearity=False)

In [17]:
best_model_tfidf = compare_models(sort='F1')

### Chi2

In [18]:
from pycaret.classification import *

baseline_tfidf_02 = setup(data = tfidf_chi_df, target = 'target',use_gpu=True, numeric_features=tfidf_chi_df.columns.tolist()[:-1],
                         data_split_stratify=True)#,remove_perfect_collinearity=False)

In [19]:
best_model_tfidf = compare_models(sort='F1')

In [20]:
SEED = 42

In [21]:
tuned_linearSVM = tune_model(linear_svm, optimize = 'F1', custom_grid = {'C':[0.521],'penalty':['l2'],'dual':[True],
                                                                         'intercept_scaling':[22],'class_weight':['balanced']},
                            search_algorithm='grid')#,n_iter=1000)

NameError: name 'linear_svm' is not defined

In [ ]:
print(linear_svm)

In [ ]:
print(tuned_linearSVM)

In [ ]:
from sklearn.naive_bayes import ComplementNB

cNB = create_model(ComplementNB())

In [ ]:
tuned_cNB = tune_model(cNB, optimize = 'F1', custom_grid = {'alpha':[0.668],'norm':[False]},
                            search_algorithm='grid')#,n_iter=1000)

In [ ]:
print(cNB)

In [ ]:
print(tuned_cNB)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

mNB = create_model(MultinomialNB())

In [ ]:
tuned_mNB = tune_model(mNB, optimize = 'F1', custom_grid = {'alpha':[0.074]},
                            search_algorithm='grid')#,n_iter=1000)

In [ ]:
print(mNB)

In [ ]:
print(tuned_mNB)

In [ ]:
lr = create_model('lr',n_jobs=-1,random_state=SEED)

In [ ]:
tuned_lr = tune_model(lr, optimize = 'F1', custom_grid = {'solver':['liblinear'],'penalty':['l2'],'C':[3.83]},
                            search_algorithm='grid')#,n_iter=1000)

In [ ]:
print(lr)

In [ ]:
print(tuned_lr)

In [ ]:
ridge = create_model('ridge',random_state=None)

In [ ]:
tuned_ridge = tune_model(ridge, optimize = 'F1', custom_grid = {'aplpha':np.arange(1,101,1),'class_weight':[None,'balanced']},
                            search_algorithm='random',n_iter=2000)

In [ ]:
et = create_model('et',random_state=SEED)

In [ ]:
tuned_et = tune_model(et, optimize = 'F1', custom_grid = {'n_estimators':np.arange(10,1000,10),'criterion':['gini','entropy'],
                                                          'max_depth':np.arange(10,1000,10), 'min_samples_split':np.arange(2,200,2),
                                                         'min_samples_leaf':np.arange(1,100,1),'max_features':['auto','sqrt','log2'],
                                                         'max_leaf_nodes':np.arange(10,10000,10),'min_impurity_decrease':np.arange(0,10,0.1),
                                                         'bootstrap':[True,False],'oob_score':[True,False],'warm_start':[True,False],
                                                         'class_weight':[None,'balanced','balanced_subsample'],'ccp_alpha':np.arange(0,10,0.1),
                                                         'max_samples':np.arange(321,3211,100)},
                            search_algorithm='random',n_iter=2000)